body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1cb1;
    color: white;
    line-height: 1.6;
}

header {
    background-color: #00008B;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: gray;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

section h2 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table img {
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 70px;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
h2{
    text-align: left;
}
